body{
    background-color: #C299FC;
}
.logo{
    width: 10rem;
    height: auto;
}
.header {
    background-color: white;
}
.text-center{
    margin: 5rem;
}
.tarjeta {
    width: 10rem;
}
.tarjeta img{
    width: 10rem;
    height: auto;
    border-radius: 50%;
}
.Pie-pagina{
    background-color: white;
}
.noticia{
    width: 30%;
    height: auto;
}
.news{
    width: 30rem;
    height: auto;
    margin: 12px;
}
.comenta{
    margin: 5rem;
}
.wrap {
    flex-wrap: wrap;
}
.coment-section {
    width: 70%;
}
