body{
    background-color: #C299FC;
}
.logo{
    width: 10rem;
    height: auto;
}
.header {
    background-color: white;
}
.text-center{
    margin: 5rem;
}
.tarjeta {
    text-align: justify;
}
.tarjeta img{
    width: 7rem;
    height: auto;
    border-radius: 50%;
}
.wrap{
    width: 70%;
}
.noticia{
    width: 40vh;
    height: auto;
}
.Pie-pagina{
    background-color: white;
}


